*{
    margin: 0;
    padding: 0;

}
p{
    color: antiquewhite;
}
body{
    /* background-color: rgba(0, 0, 0, 0.819); */
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.801), rgba(1, 3, 0, 0.833));
    background-size: 500% 100%;
    animation: degrade-animeado 5s infinite alternate-reverse;
}
@keyframes degrade-animeado{
    0%{
        background-position-x: 0% ;

    }
    100%{
        background-position-x: 100% ;
    }
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
  }

header{
    
    display: flex;
    height: 40px ;
    background-color: rgba(3, 245, 3, 0.434);
    padding: 5px;
}
.contato{
    margin-right: 10px;
    text-decoration: black;
}



#evan{
    margin: 0px 40px 0px 20px ;
   
}
#dev{
    margin: auto;
}
#container{
    display:flex ;
    margin-top: 10px;
    background-color: rgba(5, 7, 7, 0.279);
    height: 600px;
}

#container-img{
    height: 450px;
    width: 450px;
    margin: 70px 15px auto auto;;
    padding: 20px;
    /* background-color: aqua; */
    color: rgba(15, 140, 15, 0.801);
    border-radius: 5px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2)
}
#container-img > img{
    margin: auto;
   text-align: center;
   border-radius: 5px;
}
#container-texto{
    padding:10px ;
    height: 450px;
    width: 450px;
    margin: auto auto auto 15px;
    border: solid;
    text-align: center;
    /* background-color: aqua; */
    color: rgba(15, 140, 15, 0.801);
    
}
#minhafoto:hover{
    width: 70%;
    transition: 8.5;
}
#sobre{
    font-size: 12px;
    transition: 1s;
}
#sobre2{
    font-size: 12px;
    transition: 1s;
}
.btnn{
    font-size: small;
    background-color: rgba(60, 255, 1, 0.648);
    border-radius: 2px;
    width: 80px;
}
.btnn:hover{
    font-size:larger;
    background-color: rgba(41, 255, 17, 0.968);
    border-radius: 2px;
    transition: 0.2s;
}
.conatainer-separador{
    text-align: center;
    color:rgba(27, 255, 27, 0.994) ;
    background-color: rgba(0, 0, 0, 0.656);
    margin-top: 10px;
    
}

#container-detexto{
    width: 700px;
    color: antiquewhite;
    margin: auto;
    font-size: 25px;
    padding: 5px;

}
.card{
    
    border: 0px ;
    background-color: rgba(0, 0, 0, 0.755);
    margin:40px  auto;
   color: rgba(47, 255, 78, 0.916); 
}


.card-img-top{
    max-height: 300px;
}
#conteinercard{
    display: block ;
    
}
footer{
    height: 150px;
    background-color: rgba(0, 0, 0, 0.824);
    color: white;
    padding: 60px;
}
@media only screen and (min-width: 1200px){
    #conteinercard{
        display: flex ;
        
    }
    #sobre{
        font-size: 15px;
    }
    #sobre2{
        font-size: 15px;
    }
}
