*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgba(0, 0, 0, 0.819);
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
  }

header{
    
    display: flex;
    height: 40px ;
    background-color: rgba(3, 245, 3, 0.434);
    padding: 5px;
}

#evan{
    margin: 0px 40px 0px 20px ;
   
}
#dev{
    margin: auto;
}
#container{
    display:flex ;
    margin-top: 10px;
    background-color: rgba(5, 7, 7, 0.279);
    height: 600px;
}
#container-img{
    height: 450px;
    width: 450px;
    margin: auto 15px auto auto;;
    padding: 20px;
    /* background-color: aqua; */
    color: rgba(15, 140, 15, 0.801);
}
#container-img > img{
    margin: auto;
   text-align: center;
}
#container-texto{
    padding:10px ;
    height: 450px;
    width: 450px;
    margin: auto auto auto 15px;
    border: solid;
    text-align: center;
    /* background-color: aqua; */
    color: rgba(15, 140, 15, 0.801);
}
#conatainer-separador{
    text-align: center;
    color:rgba(15, 140, 15, 0.801) ;
    background-color: rgba(0, 0, 0, 0.656);
    
}
.card{
    
    border: 0px ;
    
    margin:40px  auto;
   
}
.card-img-top{
    max-height: 300px;
}
#conteinercard{
    display: block ;
    
}
footer{
    height: 150px;
    background-color: rgba(0, 0, 0, 0.824);
    color: white;
    padding: 60px;
}
@media only screen and (min-width: 1200px){
    #conteinercard{
        display: flex ;
        
    }
}
